.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.white{
  color:white;
}

.height-max{
  height:100%;
}

.blackIcon{
  color:black;
  font-size: 2em;
}

.confirm{
  color: green;
  font-size: 2em;
}

.deleteIcon{
  background: none;
  padding: 0px;
  border: none;
  color: red;
  font-size: 2em;
}

table {
  text-align: center;
}

tr{
  height: 100%;
}

td{
  vertical-align: middle;
}

.red{
  color:red;
}

.adminIcon{
  color: white;
}

.menueskubi {
  padding: 0;
}

.logout {
  width: 2em;
  padding-top: 16px;
}

.navHeight{
  z-index: auto;
}
